<div class="filter-container-body">
  <div id="filter-control" class="filter-controls">
    <form>
      <!-- standard filter buttons -->
      <a id="filter-toggle" class="button secondary filters-toggle active" href="#">
        Filter <i class="size-xsmall icon-expand"></i>
      </a>
      <button class="button borderless secondary" data-ng-click="fc.reset()">
        <span>Reset</span>
      </button>

      <!-- advanced filter options -->
      <div id="advanced-filters">
        <section data-ng-transclude></section>
        <section class="button-control">
          <a class="button size-medium filters-toggle" data-ng-click="fc.applyFilters()">Apply Filters</a>
          <a class="button secondary borderless" data-ng-click="fc.clear()">Clear</a>
        </section>
      </div>
    </form>
  </div>
</div>